VITE_CRM_LEAD_ENDPOINT=/crm-api/administrativo/leads/adicionar
VITE_POS_COURSES_ENDPOINT=/fasul-courses-api/rotinas/cursos-ia-format-texto-2025-unicesp.php
VITE_CRM_BEARER_TOKEN=SEU_TOKEN_AQUI
VITE_CRM_API_KEY=
VITE_CRM_EMPRESA=11
VITE_CRM_ETAPA_GRAD=78
VITE_CRM_ETAPA_POS=78
VITE_CRM_FUNIL_GRAD=6
VITE_CRM_FUNIL_POS=6
VITE_CRM_STATUS_LEAD=1
VITE_CRM_FONTE_ID=33
VITE_CRM_FONTE_TEXTO=Landing Page Faculdade de Psicologia UNICESP
VITE_CRM_ORIGEM=4
VITE_CRM_POLO=4658
