---
import { Header } from '@/landing/components/Header'
import { FooterBottomSection } from '@/landing/components/FooterBottomSection'
import { PostCategoryExplorer } from './PostCategoryExplorer'
import type { PostCategoryCourse } from './postCategoryData'
import '@/landing/landing.css'

interface Props {
  courses: PostCategoryCourse[]
}

const { courses } = Astro.props
---

<div class="lp-page bg-[#f4f4f4] min-h-screen font-['Liberation_Sans']">
  <Header client:idle />

  <main class="pt-[15px] lg:pt-[25px] pb-8 lg:pb-[50px]">
    <PostCategoryExplorer client:load courses={courses} />
  </main>

  <FooterBottomSection />
</div>