[Unit]
Description=Faculdade Psicologia UNICESP Astro App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/www/wwwroot/faculdadepsicologiaunicesp.com.br
Environment=HOST=127.0.0.1
Environment=PORT=4323
EnvironmentFile=-/www/wwwroot/faculdadepsicologiaunicesp.com.br/.env
ExecStart=/root/.nvm/versions/node/v23.9.0/bin/node /www/wwwroot/faculdadepsicologiaunicesp.com.br/dist/server/entry.mjs
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
